<h2>Your profile</h2>
<div class="profile">
  <%= @my_profile.name %>
  <%= @my_profile.description %>
</div>

<h2>Other profiles</h2>
<% puts 'profiles are' %>
<% p @profiles %>
<% @profiles.each do |profile| %>
  <div class="profile">
    <%= profile.name %>
    <%= profile.description %>
    <% unless current_user.profile.followees.include?(profile) %>
      <%= button_to "Follow", follows_path(followee_id: profile.id), method: :post %>
    <% else %>
      <% follow = current_user.profile.followee_relationships.find_by(followee_id: profile.id) %>
      <%= button_to "Unfollow", follow_path(follow, followee_id: profile.id), method: :delete %>
    <% end %>
  </div>
<% end %>