<h2>Welcome to your profile</h2>
<div class="name">
  <ul>
    <li>Name: </li>
    <li><%= @profile.name %></li>
  </ul>
</div>
<div class="description">
  <ul>
    <li>Description</li>
    <li><%= @profile.description %></li>
  </ul>
</div>
<div class="profile-list">
<h2>Your posts</h2>
  <% @posts.each do |post| %>
    <p><%= post.body %></p>
  <% end %>
</div>

<%= link_to 'Edit this profile', edit_my_profile_path %>
<%= link_to 'Home', posts_path %>