<div class="feed-selection d-flex flex-row justify-content-evenly ">
  <div class="for-you">
    For you
  </div>
  <div class="following">
    following
  </div>
</div>
<hr my-4 >
<div class="new-post">
  <%= render 'newpost' %>
</div>
<hr my-4 >
<div class="feed">
</div>


<% @posts.each do |post| %>
  <div class="jumbotron jumbotron-fluid"  >
    <p class="lead" data-controller="post-click" data-post-click-url-value ="<%= post_path(post)%>" data-action="click->post-click#goToPost"> <%= post.body %></p>
    
    <% if post.image.attached? %>
      <div>
        <div class="tst">Image available</div>
        <%= image_tag post.image, size: 100 %>
      </div>
    <% end %>
    <div class="author-name"><%= post.profile.name %></div>
    <div>Likes <span class="badge badge-secondary"><%= post.likes.count %></span></div>
    <ul>
    <% puts 'post is' %>
    <% p post %>
    <% p current_user %>
    <% unless post.likes.exists?(profile_id: current_user.profile.id) %>
      <li><%= link_to "Like", new_like_path(post_id: post.id), class:"btn btn-primary" %></li>
    <% else %>
      <li><%= link_to "Dislike", like_path(post.likes.find_by(profile_id: current_user.profile.id)),data: { turbo_method: :delete}, class:"btn btn-primary" %></li>

    <% end %>
      
      <% puts 'hapy' %>
    <% begin %>
    <% rescue => exception %>
    <% end %>
    </ul>
  </div>
<% end %>