<%= render @post %>

<div class="comment-box">
  <h2>Comments</h2>
  <% @comments.each do |comment| %>
    <div class="comment">
      <%= comment.body %>
      <%= render 'comments/form_template', commentable: comment, caption: 'Reply', post_id: @post.id %>
      <% p comment.replies %>
      <% comment.replies.each do |com| %>
      <div class="sub_reply p-2">
        <%= com.body %>
      </div>
      <% end %>
    </div>
  <% end %>

  <%= render 'comments/form_template', commentable: @post, caption: 'Add comment', post_id: @post.id %>

</div>